<script type="application/javascript">
  $(document).ready(function() {
    $("#jira_issues").DataTable( {
      paging: false,
      colReorder: true,
      columns: [
        { title: "Approve", orderDataType: "dom-checkbox" },
        { title: "Key" },
        { title: "Last " },
        { title: "Commits" },
        { title: "Assignee" },
        { title: "Deploy Type" },
        { title: "Status" },
        { title: "Post Deploy</br>Check Status" },
        { title: "Deploy Date" },
        { title: "Secrets?" },
        { title: "Long</br>Migration?" },
        { title: "Summary" }
      ]
    });
  });
</script>

<div>
  <h4><%=push.jira_issues.count%> JIRA issues(s) in this branch
    <button class="btn btn-default" type="button" data-clipboard-target="#jira_issues_clipboard">
      <%= image_tag('clippy.svg', width: "13", alt: "Copy to clipboard") %>
    </button>
  </h4>
</div>
<table class="table table-striped" id="jira_issues">

  <%push.jira_issues_and_pushes.sort.each do |jira_issue_and_push|%>
    <%
       jira_issue = jira_issue_and_push.jira_issue
       row_class = if jira_issue_and_push.unignored_errors?
                     'danger'
                   elsif jira_issue_and_push.ignored_errors?
                     'warning'
                   end
    %>
    <tr class="<%=row_class%>" title="<%=jira_error_messages(jira_issue_and_push.error_list)%>">
      <td align="center" style="width: 50px;"><%= check_box_tag "push[jira_issue_keys_to_ignore][]", jira_issue.key, jira_issue_and_push.ignored_errors?, disabled: !jira_issue_and_push.errors? %></td>
      <td nowrap class="issue_key">
        <%if jira_issue.parent_issue %>
          <%=link_to(jira_issue.parent_issue.key, jira_url_for_issue(jira_issue.parent_issue), target: '_blank')%><br/>&#8627;
        <%end%>
        <%=link_to(jira_issue.key, jira_url_for_issue(jira_issue), target: '_blank')%>
      </td>
      <td>
        <%if jira_issue.latest_commit%>
          <%=link_to(jira_issue.latest_commit.short_sha, github_url_for_commit(jira_issue.latest_commit), target: '_blank')%>
        <%else%>
          &mdash;
        <%end%>
      </td>
      <td class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_NO_COMMITS])%>"><%=jira_issue_and_push.commits.count%></td>
      <td nowrap><%=jira_issue.assignee._?.name%></td>
      <td nowrap><%=jira_issue.deploy_type%></td>
      <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_WRONG_STATE])%>"><%=jira_issue.status%></td>
      <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_POST_DEPLOY_CHECK_STATUS])%>"><%=jira_issue.post_deploy_check_status || '&mdash;'.html_safe%></td>
      <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_WRONG_DEPLOY_DATE, JiraIssuesAndPushes::ERROR_NO_DEPLOY_DATE])%>"><%=jira_issue.targeted_deploy_date || '&mdash;'.html_safe%></td>
      <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_BLANK_SECRETS_MODIFIED])%>"><%=jira_issue.secrets_modified || '&mdash;'.html_safe%></td>
      <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_BLANK_LONG_RUNNING_MIGRATION])%>"><%=jira_issue.long_running_migration || '&mdash;'.html_safe%></td>
      <td class="issue_summary"><%=jira_issue.summary%></td>
    </tr>
  <%end%>
  </tbody>
</table>
