

<%= form_for @push, url: "/jira/status/push/#{@push.head_commit.sha}.html" do |form| %>
<style>
.error {color: red; font-weight: bold;}
</style>
<div class="container">
  <% if flash[:alert] %>
    <div class="alert alert-success"><%= flash[:alert] %></div>
  <% end %>
  <%case @push.status%>
  <%when Github::Api::Status::STATE_PENDING.to_s%>
    <div class="alert alert-warning">
      Push is being processed, please refresh in a moment
    </div>
  <%when Github::Api::Status::STATE_SUCCESS.to_s%>
    <div class="alert alert-success">
      <%if @push.errors? %>
      Push failed some checks, but all of them have been approved
      <%else%>
      Push passed all checks
      <%end%>
    </div>
  <%when Github::Api::Status::STATE_FAILED.to_s%>
    <div class="alert alert-danger">
      Warning: Branch is not ready to deploy.<br>
      <ul>
      <% combined_error_counts.each do |error_object, error_counts|%>
          <%error_counts.each do |error_code, count|%>
            <li><%=count%> <%=map_error_code_to_message(error_object, error_code)%>
        <%end%>
      <%end%>
      </ul>
    </div>
  <%end%>
  <%if @push.jira_issues?%>
    <div>
      <h4><%=@push.jira_issues.count%> JIRA issues(s) in this branch
      <button class="btn btn-default" type="button" data-clipboard-target="#jira_issues_clipboard">
        <%= image_tag('clippy.svg', width: "13", alt: "Copy to clipboard") %>
      </button>
      </h4>
    </div>
    <table class="table table-striped" id="jira_issues">
      <thead>
      <tr>
        <th>Approve</th>
        <th>Key</th>
        <th>Last SHA</th>
        <th>Commits</th>
        <th>Assignee</th>
        <th>Deploy Type</th>
        <th>Status</th>
        <th>Post Deploy</br>Check Status</th>
        <th>Deploy Date</th>
        <th>Secrets?</th>
        <th>Long<br/>Migration?</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <%@push.jira_issues_and_pushes.sort.each do |jira_issue_and_push|%>
        <%
          jira_issue = jira_issue_and_push.jira_issue
          row_class = if jira_issue_and_push.unignored_errors?
                        'danger'
                      elsif jira_issue_and_push.ignored_errors?
                        'warning'
                      end
        %>
        <tr class="<%=row_class%>" title="<%=jira_error_messages(jira_issue_and_push.error_list)%>">
          <td align="center" style="width: 50px;"><%= check_box_tag "push[jira_issue_keys_to_ignore][]", jira_issue.key, jira_issue_and_push.ignored_errors?, disabled: !jira_issue_and_push.errors? %></td>
          <td nowrap class="issue_key">
            <%if jira_issue.parent_issue %>
              <%=link_to(jira_issue.parent_issue.key, jira_url_for_issue(jira_issue.parent_issue), target: '_blank')%><br/>&#8627;
            <%end%>
            <%=link_to(jira_issue.key, jira_url_for_issue(jira_issue), target: '_blank')%>
          </td>
          <td>
          <%if jira_issue.latest_commit%>
            <%=link_to(jira_issue.latest_commit.short_sha, github_url_for_commit(jira_issue.latest_commit), target: '_blank')%>
          <%else%>
            &mdash;
          <%end%>
          </td>
          <td class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_NO_COMMITS])%>"><%=jira_issue_and_push.commits.count%></td>
          <td nowrap><%=jira_issue.assignee._?.name%></td>
          <td nowrap><%=jira_issue.deploy_type%></td>
          <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_WRONG_STATE])%>"><%=jira_issue.status%></td>
          <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_POST_DEPLOY_CHECK_STATUS])%>"><%=jira_issue.post_deploy_check_status || '&mdash;'.html_safe%></td>
          <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_WRONG_DEPLOY_DATE, JiraIssuesAndPushes::ERROR_NO_DEPLOY_DATE])%>"><%=jira_issue.targeted_deploy_date || '&mdash;'.html_safe%></td>
          <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_BLANK_SECRETS_MODIFIED])%>"><%=jira_issue.secrets_modified || '&mdash;'.html_safe%></td>
          <td nowrap class="<%=error_class_if_error_present(jira_issue_and_push, [JiraIssuesAndPushes::ERROR_BLANK_LONG_RUNNING_MIGRATION])%>"><%=jira_issue.long_running_migration || '&mdash;'.html_safe%></td>
          <td class="issue_summary"><%=jira_issue.summary%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%else%>
    <h4>No JIRA issues in this branch</h4><br/>
  <%end%>

  <div style="position:absolute; left:-9999px; top:0px;">
  <table class="table table-striped" id="jira_issues_clipboard" style="font-size: 13px;">
    <thead>
    <tr>
      <th>Key</th>
      <th>Summary</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>


  <%if @push.commits_with_errors? %>
    <h4><%=@push.commits_with_errors.count%> Commit(s) with errors</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Approve</th>
        <th>SHA</th>
        <th>Author Name</th>
        <th>Commit Message</th>
      </tr>
      </thead>
      <tbody>
      <%@push.commits_and_pushes.with_errors.each do |commit_and_push|%>
        <%
          commit = commit_and_push.commit
          row_class = if commit_and_push.unignored_errors?
                        'danger'
                      elsif commit_and_push.ignored_errors?
                        'warning'
                      end
        %>
        <tr class="<%=row_class%>" title="<%=commit_error_messages(commit_and_push.error_list)%>">
          <td align="center" style="width: 50px;"><%= check_box_tag "push[commit_shas_to_ignore][]", commit.sha, commit_and_push.ignored_errors?, disabled: !commit_and_push.errors? %></td>
          <td><%=link_to(commit.short_sha, github_url_for_commit(commit), target: '_blank')%></td>
          <td nowrap><%=commit.author.name%></td>
          <td><%=commit.message%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  <%else%>
      <h4>All commits in this branch are OK</h4><br/>
  <%end%>
  <%if false%>
    <h4>JIRA issues ready to deploy, but not in this branch</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Ignore</th>
        <th>Key</th>
        <th>Last SHA</th>
        <th>Assignee</th>
        <th>Status</th>
        <th>Deploy Date</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="checkbox" checked></td>
        <td><a href="#">STORY-4533</a></td>
        <td><a href="#">aaf2ef4</a></td>
        <td>Yo Biziiac</td>
        <td>Ready to Deploy</td>
        <td>11/27/2016</td>
        <td>Description for ya</td>
      </tr>
      <tr class="danger">
        <td><input type="checkbox"></td>
        <td><a href="#">STORY-9999</a></td>
        <td><a href="#">bbf2ef4</a></td>
        <td>Dave Lamo</td>
        <td>Ready to Deploy</td>
        <td>11/30/2016</td>
        <td>The thingermahowzer</td>
      </tr>
      </tbody>
    </table>
  <%end%>
  <%= form.submit('Save Approvals', name: 'save', class: 'btn btn-default') %>
  <%= form.submit('Refresh JIRA and Git data', name: 'refresh', class: 'btn btn-default') %>
  <div style="margin-top: 15px">
    '<%=@push.branch.name%>' branch compared with '<%=ancestor_branch%>' branch on <%=@push.updated_at%>
  </div>
  <!--
  TODO:
  Copy/Paste deploy list
  Show the tags on the commit, autobahn clean, build clean
  -->
</div>
<% end %>
