

<%= form_for @push, url: "/jira/status/push/#{@push.head_commit.sha}.html" do |form| %>
<style>
.error {color: red; font-weight: bold;}
</style>
<div class="container-fluid">
  <% if flash[:alert] %>
    <div class="alert alert-success"><%= flash[:alert] %></div>
  <% end %>

  <%= render partial: "status_notifications", locals: { push: @push } %>

  <%if @push.jira_issues?%>
    <%= render partial: "branch_issues", locals: { push: @push }  %>
  <%else%>
    <h4>No JIRA issues in this branch</h4><br/>
  <%end%>

  <%= render partial: "clipboard_formatting" %>


  <%if @push.commits_with_errors? %>
    <%= render partial: "commits_with_errors", locals: { push: @push } %>
  <%else%>
      <h4>All commits in this branch are OK</h4><br/>
  <%end%>

  <%if false%>
    <%= render partial: "ready_missing_issues" %>
  <%end%>

  <%= form.submit('Save Approvals', name: 'save', class: 'btn btn-default') %>
  <%= form.submit('Refresh JIRA and Git data', name: 'refresh', class: 'btn btn-default') %>
  <!--
  TODO:
    Show the tags on the commit, autobahn clean, build clean
  -->
</div>
<% end %>
