<div class="summary-container">
  <div class="row summary-overview-container">
    <div class="text-center summary-title">
      Deploy Overview
    </div>
    <div class="text-center summary-subtitle">
      <span class="code-text"><%= @push.branch.name %> => <%= ancestor_branch %></span>
    </div>
    <div class="tile-list-container row">
      <div class="col-md-8">
        <div class="row summary-tile-container">
          <%= render partial: "jira/status/push/summary_tiles/issue_count"%>
          <%= render partial: "jira/status/push/summary_tiles/long_migration", locals: { push: @push } %>
          <%= render partial: "jira/status/push/summary_tiles/deploy_types", locals: { deploy_types: @push.deploy_types } %>
        </div>
        <div class="summary-tile-container">
          <%= render partial: "jira/status/push/summary_tiles/tickets", locals: { issues: @push.sorted_jira_issues } %>
        </div>
      </div>
      <div class="col-md-4">
        <%= render partial: "jira/status/push/summary_tiles/committers" %>
      </div>
    </div>


    <div class="hidden">
      <!-- Move to a partial -->
      <table id="summary-table" class="table table-striped table-bordered">
        <tr class="<%= total_error_count > 0 ? "danger" : "success" %>">
          <td class="text-center">
            JIRA issues
          </td>
          <td>
            <%= total_error_count %>
          </td>
        </tr>
        <tr class="info">
          <td class="text-center">
            Deploy Reps
          </td>
          <td>
            <%= deploy_reps.map { |(rep, count)| "#{count}: #{rep}" }.join("<br>").html_safe %>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center overview-link">
      <%= link_to "View commit (#{@push.head_commit.short_sha})", controller: "push", action: "edit", id: @push.head_commit.sha %>
    </div>
  </div>
 </div>
</div>
