<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pre-Deploy Checker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <% service_name = @push&.service_name || "web" %>
      <a href='<% "#{service_name}/summary" %>'>
        <div class="navbar-brand">
          <%= image_tag "icon.png", height: 40 %>
        </div>
        <div class="navbar-brand-title">
          Pre-Deploy Checker
        </div>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
